[package]
name = "Actuate"
version = "1.0.0"
edition = "2021"
authors = ["Ardura <azviscarra@gmail.com>"]
license = "GPL-3.0-or-later"
homepage = "https://github.com/ardura"
description = "Compressor"

[workspace]
members = ["xtask"]

[lib]
crate-type = ["cdylib","lib"]

[dependencies]
flate2 = "1.0.27"
hound = "3.5.0"
lazy_static = "1.4.0"
# Remove the `assert_process_allocs` feature to allow allocations on the audio
# thread in debug builds.

# Uncomment the below line to disable the on-by-default VST3 feature to remove
# the GPL compatibility requirement
#nih_plug = { git = "https://github.com/robbert-vdh/nih-plug.git", default_features = false, features = ["assert_process_allocs", "standalone"] }


nih_plug = { path = "../../nih-plug-master/nih-plug-master/", features = ["assert_process_allocs"]}
nih_plug_egui = { path = "../../nih-plug-master/nih-plug-master/nih_plug_egui" }
once_cell = "1.18.0"
parking_lot = "0.12.1"
phf = { version = "0.11.2", features = ["macros"] }
pitch_shift = "1.0.0"
rand = "0.8.5"
rand_pcg = "0.3.1"
rfd = "0.11.4"
rmp-serde = "1.1.2"
serde = "1.0.188"
serde_json = "1.0.107"


[profile.release]
opt-level = 3
debug = false
lto = "fat"
strip = "symbols"

[profile.profiling]
inherits = "release"
lto = "off"
opt-level = 0
debug = true
strip = "none"
