[package]
name = "Actuate"
version = "1.2.4"
edition = "2021"
authors = ["Ardura <azviscarra@gmail.com>"]
license = "GPL-3.0-or-later"
homepage = "https://github.com/ardura"
description = "Compressor"

[workspace]
members = ["xtask"]

[lib]
crate-type = ["cdylib","lib"]

[dependencies]
flate2 = "1.0.27"
hound = "3.5.0"
lazy_static = "1.4.0"
# Remove the `assert_process_allocs` feature to allow allocations on the audio
# thread in debug builds.

# Uncomment the below line to disable the on-by-default VST3 feature to remove
# the GPL compatibility requirement


# Original
#nih_plug = { git = "https://github.com/robbert-vdh/nih-plug.git", rev = "252ab3c5becabcd7d2a7a75a8ef04de37d5f8418", features = ["assert_process_allocs"] }
#nih_plug_egui = { git = "https://github.com/robbert-vdh/nih-plug.git", rev = "252ab3c5becabcd7d2a7a75a8ef04de37d5f8418"}

# My branch
#nih_plug = { git = "https://github.com/ardura/nih-plug.git", rev = "4d28fb251422bdabfc65641beedb490bdf35c297", features = ["assert_process_allocs"] }
#nih_plug_egui = { git = "https://github.com/ardura/nih-plug.git", rev = "4d28fb251422bdabfc65641beedb490bdf35c297" }

# My branch - new 2024
nih_plug = { git = "https://github.com/ardura/nih-plug.git", rev = "96d413756faa145dc063fc9ca609d86bc7d2e3e7", features = ["assert_process_allocs"] }
nih_plug_egui = { git = "https://github.com/ardura/nih-plug.git", rev = "96d413756faa145dc063fc9ca609d86bc7d2e3e7" }

# Local
#nih_plug = { path = "../../nih-plug", features = ["assert_process_allocs"] }
#nih_plug_egui = { path = "../../nih-plug/nih_plug_egui" }

num-complex = "0.4.4"
num-traits = "0.2.17"
once_cell = "1.18.0"
parking_lot = "0.12.1"
pitch_shift = "1.0.0"
rand = "0.8.5"
rand_pcg = "0.3.1"
rfd = "0.11.4"
rmp-serde = "1.1.2"
serde = "1.0.188"
serde_json = "1.0.107"
tinyfiledialogs = "3.9.1"

[profile.release]
opt-level = 3
debug = false
split-debuginfo = '...'  # Platform-specific.
strip = "none"
debug-assertions = false
overflow-checks = false
lto = false
panic = 'unwind'
incremental = false
codegen-units = 16
rpath = false
#opt-level = 3
#debug = false
#lto = "fat"
#strip = "symbols"

[profile.profiling]
inherits = "release"
lto = "off"
opt-level = 0
debug = true
strip = "none"
